html {
    font-family: verdana;
    font-size: 16px;
    background-color: black;
    text-align: center;
    color: white;
}
h1 {
    font-size: 3.125rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
h2 {
    font-size: 2.625rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    color: aquamarine
}
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3125;
    color: Gray;
}
footer p {
    text-align: right;
    margin-right: 5rem;
    font-size: 1.3125rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#phone {
    margin-top: 2rem;
}
    
